/* TODO: zoomed views are broken */

#botsaying {text-align:left;}
#usersaying {text-align:right;}

body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font: 2vw system-ui;
}

._final_score {
    font-family: "Fredoka One";
    font-size: 65px;
    font-weight: bold;
    color: black;
    opacity: 0%;
}

.back-arrow-bubble {
    transform: translatey(0.25em) translatex(0.25em);
    border-radius: 1em;
    background-color: #dcdcdc;
    height: 1em;
    max-height: 1em;
    min-height: 1em;
    width: 1em;
    max-width: 1em;
    min-width: 1em;
}

/* https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/#:~:text=To%20disable%20text%20selection%20highlighting%20in%20Google%20Chrome%20browser%20using,select%20CSS%20property%20to%20none. */
.back-arrow-icon {
    transform: translatey(-0.35em) translatex(0.15em);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.pointbar {
    overflow: hidden;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Fredoka One";
    font-size: 50px;
    font-weight: bold;
    color: black;
    opacity: 0%;
}

html {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

/* https://codepen.io/kirstenallen/pen/MWwPYYm */
.yourbubble {
    transform: translatey(0px);
    {% if bouncing_text %}
    animation: float 5s ease-in-out infinite;
    {% endif %}
    mix-blend-mode: multiply;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
    color: black;
    background-color: #5880bf;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    right: 15%;
    box-shadow: 1em 1em #36454f;
    font-family: "Fredoka One";
    border: 1px solid #5880bf;
    min-width: 25em;
    max-width: 25em;
    width: 25em;
}

.chelseabubble {
    transform: translatey(0px);
    {% if bouncing_text %}
    animation: float 5s ease-in-out infinite;
    {% endif %}
    mix-blend-mode: multiply;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
    color: black;
    background-color: #87b77b;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    left: 15%;
    box-shadow: 1em 1em #36454f;
    font-family: "Fredoka One";
    border: 1px solid #87b77b;
    min-width: 25em;
    max-width: 25em;
    width: 25em;
}

.labmanbubble {
    transform: translatey(0px);
    {% if bouncing_text %}
    animation: float 5s ease-in-out infinite;
    {% endif %}
    mix-blend-mode: multiply;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
    color: black;
    background-color: #87b77b;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    box-shadow: 1em 1em #36454f;
    font-family: "Fredoka One";
    border: 1px solid #87b77b;
    min-width: 40em;
    max-width: 40em;
}

.modsel {
    cursor: pointer;
    transform: translatey(0px);
    {% if bouncing_text %}
    animation: float 5s ease-in-out infinite;
    {% endif %}
    mix-blend-mode: multiply;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
    color: black;
    background-color: #87b77b;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    box-shadow: 1em 1em #36454f;
    font-family: "Fredoka One";
    border: 1px solid #87b77b;
    min-width: 20em;
    max-width: 20em;
    text-align: center;
}

#selectmodtext {
    font-size: 40px;
    font-family: "Fredoka One";
    text-align: center;
}

.textbox {
    outline: none;
    border: 0;
    background-color: #5880bf;
    font-family: "Fredoka One";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    min-width: 10em;
    max-width: 10em;
    width: 10em;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

#pick_mod {
    opacity: 0;
    display: none;
}

#lab_manual {
    opacity: 0;
}
